<div *ngIf="product" class="formProduct">
    <div class="field">
        <label>Nombre: </label>
        <input id="name" [(ngModel)]="product.name" placeholder="Soy el placeholder">
    </div>

    <div class="field">
        <label>Descripción Larga: </label>
        <input id="long_desc" [(ngModel)]="product.long_desc" placeholder="Soy el placeholder">
    </div>

    <div class="field">
        <label>Descripción Corta: </label>
        <input id="short_desc" [(ngModel)]="product.short_desc" placeholder="Soy el placeholder">
    </div>

    <div class="field">
        <label>Precio: </label>
        <input id="price" [(ngModel)]="product.price" placeholder="Soy el placeholder">
    </div>

    <app-form-button textButton="Guarda producto" (onPressMyButton)="onPressButton()"></app-form-button>
</div>
