<div *ngIf="list" class="content">
    <div class="table">
        <div class="table">
            <div class="row">
                <div *ngFor="let col of keys"><strong>{{ col }}</strong></div>
            </div>
        </div>
    </div>
    <div  *ngFor="let row of list" class="table">
        <div class="row">
            <div *ngFor="let key of keys">{{ row[key] }}</div>
            <div>
                <app-form-button textButton="Editar" (onPressMyButton)="goTo(row.id)"></app-form-button>
            </div> 
        </div>
    </div>
</div> 
