<div *ngIf="cliente" class="formProduct">

    <div class="field">
        <label>Usuario: </label>
        <input id="name" [(ngModel)]="cliente.usuario" placeholder="Username">
    </div> 

    <div class="field">
        <label>Gestor: </label>
        <input id="name" [(ngModel)]="cliente.id_gestor" placeholder="Gestor">
    </div>

    <div class="field">
        <label>Contraseña: </label>
        <input id="long_desc" [(ngModel)]="cliente.password" placeholder="Password">
    </div>

    <div class="field">
        <label>Correo: </label>
        <input id="short_desc" [(ngModel)]="cliente.correo" placeholder="Email">
    </div>

    <div class="field">
        <label>Correo: </label>
        <input id="short_desc" [(ngModel)]="cliente.saldo" placeholder="Saldo">
    </div>

    <app-form-button textButton="Save"></app-form-button>
</div>