a {
    text-decoration: none;
    color: azure;
}

.nav-container-movil-buttom {
    color: azure;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.27);
    .nav-sec {
        margin: 2px 0px;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 7px;
        mat-icon {
            font-size: 27px;
        }
    }
}
