<app-table [data]="productList$"></app-table>
<!-- <div *ngIf="(productList$ | async)" class="content">
    <div  *ngFor="let product of productList$  | async" class="table">
        <div class="row">
            <div>{{product.id}}</div>
            <div>{{product.name}}</div>
            <div>{{product.long_desc}}</div>
            <div>{{product.short_desc}}</div>
            <div>{{product.price}}</div>
            <div>
                <app-form-button textButton="Editar" (onPressMyButton)="goTo(product.id)"></app-form-button>
            </div>
        </div>
    </div>
</div>  -->

