<div class="nav-container-responsive">
    <h1>BlockBank</h1>
    <div class="user">
        <mat-icon>account_circle</mat-icon> 
        <h3>Admin</h3>
    </div>
    <div class="nav">
        <a routerLink="/" class="nav-sec"><mat-icon>home</mat-icon><span>Home</span></a>
        <a routerLink="/clients" class="nav-sec"><mat-icon>group</mat-icon><span>Clients</span></a>
        <a routerLink="/managers" class="nav-sec"><mat-icon>work</mat-icon><span>Managers</span></a>
        <a class="nav-sec"><mat-icon>list</mat-icon><span>Wires</span></a>
        <a class="nav-sec"><mat-icon>settings</mat-icon><span>Settings</span></a>
    </div>

    <a class="out"><mat-icon>exit_to_app</mat-icon><span>Log out</span></a>
</div>

<div class="nav-container-movil-top">
    <h1>BlockBank</h1>
    <div class="user">
        <h3>Admin</h3>
        <mat-icon>account_circle</mat-icon> 
    </div>
</div>
