<div *ngIf="gestor" class="formProduct">
    <div class="field">
        <label>Usuario: </label>
        <input id="name" [(ngModel)]="gestor.usuario" placeholder="username">
    </div>

    <div class="field">
        <label>Contraseña: </label>
        <input id="long_desc" [(ngModel)]="gestor.password" placeholder="password">
    </div>

    <div class="field">
        <label>Correo: </label>
        <input id="short_desc" [(ngModel)]="gestor.correo" placeholder="Email">
    </div>

    <app-form-button textButton="Save" (onPressMyButton)="onPressButton()"></app-form-button>
</div>

