<div *ngIf="list" class="content">
    <div class="table ">
            <div class="row ">
                <div *ngFor="let col of keys"><strong>{{ col }}</strong></div>
                <div class="add" [routerLink]="[{path}, 'create']">
                    <h1>Add</h1>
                    <mat-icon>add_circle_outline</mat-icon>
                </div>
            </div>
    </div>
    <div  *ngFor="let row of list" class="table">
        <div class="row">
            <div *ngFor="let key of keys">{{ row[key] }}</div>
            <div class="buttons">
                <app-form-button textButton="Editar" (onPressMyButton)="goTo(row.id)"></app-form-button>
                <app-form-button textButton="Eliminar" (onPressMyButton)="onPressButton(row.id)"></app-form-button>
            </div> 
        </div>
    </div>
</div> 